#####################################################################################################################
## libredkey.so : Library for hacking behavior of red key button on MotoMAGX platform.
## authors      : EXL <exl@bk.ru>, <exlmotodev@gmail.com>
## testers      : VINRARUS
## description  : <https://forum.motofan.ru/index.php?s=&showtopic=163337&view=findpost&p=1794721>
## sites        : <https://github.com/EXL/keyd/tree/master/libredkey>, <forum.motofan.ru>, <exlmoto.ru>
## comment      : Put this file to the /ezxlocal/download/appwrite/setup/ directory or use LIBREDKEY_CONFIG_PATH env.
## license      : Public Domain
## version      : v1.0 | 10-Oct-2021
#####################################################################################################################

# Enable or disable debug output from LD_PRELOAD'ed libredkey.so library.
#
# Values:
#    on  -- Enable debug output.
#    off -- Disable debug output.
#
# Hint: Enable debug output for gathering widget footprints for configuration below.
#
Debug=on

# Global mode for red key action which should apply to all applications.
#
# Values:
#    ignore               -- Ignoring pressing red key in the applications.
#    original             -- Use original pressing red key behavior in the applications.
#    hide                 -- Hide application windows with "hide()" method.
#    desktop              -- Bring main screen (desktop) to foreground.
#    /<full path to app>/ -- Full path to the application that will be launched by pressing red key, e.g. zTaskMan.
#
Global=original

# Configuration for individual applications routines and format:
#    App=<widget footprint>|<mode>
#
# Examples:
#    App=calculator:CALC_UI_Std|ignore
#    App=calculator:CALC_UI_Std|original
#    App=calculator:CALC_UI_Std|hide
#    App=calculator:CALC_UI_Std|desktop
#    App=calculator:CALC_UI_Std|/mmc/mmca1/mgxbox/zTaskMan/zTaskMan
#
App=calculator:CALC_UI_Std|ignore
App=calculator:CALC_UI_Std_0|original
App=calculator:CALC_UI_Std_1|hide
App=calculator:CALC_UI_Std_2|desktop
App=calculator:CALC_UI_Std_3|/mmc/mmca1/mgxbox/zTaskMan/zTaskMan
